# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django specific
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
*.env
db.sqlite3


# Static files
staticfiles/
static/

# Media files
media/

# Local environment variables
.env

# Virtual environments
.venv
venv/
env/
ENV/

# MySQL database files
*.sql

# macOS files
.DS_Store

.ruff_cache
# pyenv
.python-version

# JetBrains IDEs
.idea/

# node modules
node_modules/

# Yarn
.yarn/
.pnp.*

virtual-env
data

wandb/
*.pkl
*.pth


# K8s
k8s/platform/registry/values.yaml