version: "3.4"
services:
  web:
    build: .
    container_name: django_app
    command: uvicorn backend_projects.asgi:application --host 0.0.0.0 --port 8000 --log-config log_config.yaml --reload
    volumes:
      - .:/app
      - ./requirements.txt:/app/requirements.txt
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    env_file: ./.env

  db:
    platform: linux/amd64
    image: postgis/postgis:17-3.6-alpine
    container_name: postgres_postgis_db
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    ports:
      - "5431:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s

  redis:
    image: redis:latest
    container_name: redis_cache
    command: >
      redis-server
      --loglevel verbose
      --slowlog-log-slower-than 0
      --slowlog-max-len 1000
    ports:
      - "6379:6379"
    volumes:
      - ./data/redis:/data
