apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-minio
  labels:
    app.kubernetes.io/name: minio
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
type: Opaque
data:
  rootUser: {{ .Values.rootUser | b64enc | quote }}
  rootPassword: {{ .Values.rootPassword | b64enc | quote }}
