openapi: 3.0.0
info:
  title: Weather API
  description: A simple API to retrieve weather information and forecasts.
  version: 1.0.0
  contact:
    name: Weather API Support
    email: support@weatherapi.com
servers:
  - url: https://api.weatherapi.com/v1
    description: Production server

paths:
  /weather/current:
    get:
      summary: Get current weather
      description: Retrieve current weather information for a specific city and country.
      operationId: getCurrentWeather
      parameters:
        - name: city
          in: query
          required: true
          schema:
            type: string
          description: The name of the city to get weather data for.
        - name: country
          in: query
          required: true
          schema:
            type: string
          description: The country code (ISO 3166-1 alpha-2) for the city.
      responses:
        '200':
          description: Current weather information
          content:
            application/json:
              schema:
                type: object
                properties:
                  city:
                    type: string
                  country:
                    type: string
                  temperature:
                    type: number
                    description: Current temperature in Celsius
                    example: 21.5
                  weather:
                    type: string
                    description: Weather condition
                    example: "Clear"
                  wind_speed:
                    type: number
                    description: Wind speed in km/h
                    example: 10.5
                  humidity:
                    type: number
                    description: Humidity percentage
                    example: 60
        '400':
          description: Invalid city or country input
        '500':
          description: Internal server error

  /weather/forecast:
    get:
      summary: Get weather forecast
      description: Retrieve weather forecast for the next few days for a specific city and country.
      operationId: getWeatherForecast
      parameters:
        - name: city
          in: query
          required: true
          schema:
            type: string
          description: The name of the city to get weather forecast data for.
        - name: country
          in: query
          required: true
          schema:
            type: string
          description: The country code (ISO 3166-1 alpha-2) for the city.
        - name: days
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 7
          description: Number of days to retrieve the weather forecast for (1-7).
      responses:
        '200':
          description: Weather forecast for the next few days
          content:
            application/json:
              schema:
                type: object
                properties:
                  city:
                    type: string
                  country:
                    type: string
                  forecast:
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                          format: date
                        temperature:
                          type: number
                          description: Forecasted temperature in Celsius
                          example: 18.0
                        weather:
                          type: string
                          description: Weather condition
                          example: "Rainy"
                        wind_speed:
                          type: number
                          description: Forecasted wind speed in km/h
                          example: 12.0
                        humidity:
                          type: number
                          description: Forecasted humidity percentage
                          example: 70
        '400':
          description: Invalid input
        '500':
          description: Internal server error

components:
  schemas:
    Weather:
      type: object
      properties:
        city:
          type: string
        country:
          type: string
        temperature:
          type: number
        weather:
          type: string
        wind_speed:
          type: number
        humidity:
          type: number
