apiVersion: v1
kind: Secret
metadata:
  name: cloudflared-credentials
  namespace: {{ .Release.Namespace }}
type: Opaque
stringData:
  credentials.json: |
{{ .Values.tunnel.credentialsJson | indent 4 }}
